<ion-header class="header header-md">
  <ion-navbar class="toolbar toolbar-md statusbar-padding">
    <div class="toolbar-background toolbar-background-md"></div>
    <button class="back-button disable-hover bar-button bar-button-md back-button-md bar-button-default bar-button-default-md" ion-button="bar-button"><span class="button-inner"><ion-icon class="back-button-icon icon icon-md back-button-icon-md ion-md-arrow-back" role="img" aria-label="arrow back"></ion-icon><span class="back-button-text back-button-text-md"></span></span>
      <div class="button-effect"></div>
    </button>
    <div class="toolbar-content toolbar-content-md">
      <ion-title class="title title-md">
        <div class="toolbar-title toolbar-title-md" *ngIf="role === 0">导师列表</div>
        <div class="toolbar-title toolbar-title-md" *ngIf="role === 1">学生列表</div>
      </ion-title>
    </div>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content  pullingText="下拉刷新..."
  refreshingText="刷新中...">
  </ion-refresher-content>
  </ion-refresher>
  <section *ngIf="role === 0">
  <ion-list *ngFor="let key of getKeys(map)" (ionRefresh)="doRefresh($event)" (ionPull)="doPulling($event)" >
    <ion-list-header>{{key}}</ion-list-header>
    <ion-item *ngFor="let value of map.get(key)" (tap)="detail(value)">
      <ion-avatar item-start>
        <img [src]="value.photoURL || 'assets/imgs/avatar-ts-woody.png'">
      </ion-avatar>
      <h2>{{value.name}}</h2>
      <p>{{value.introduction}}</p>
      <ion-note item-end>{{value.tel}}</ion-note>
    </ion-item>
  </ion-list>
  </section>
  <section *ngIf="role === 1">
    <ion-list  (ionRefresh)="doRefresh($event)" (ionPull)="doPulling($event)" >
      <ion-list-header>学生</ion-list-header>
      <ion-item *ngFor="let student of studentList" (tap)="detail(student)">
        <ion-avatar item-start>
          <img [src]="student.photoURL||'assets/imgs/avatar-ts-woody.png'">
        </ion-avatar>
        <h2>{{student.name}}</h2>
        <p>{{student.introduction}}</p>
        <ion-note item-end>{{student.gender === 0?'男': '女'}}</ion-note>
      </ion-item>
    </ion-list>
  </section>
</ion-content>
