<ion-header>
  <ion-navbar text-center>
    <ion-title>用户登陆</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding noscroll>
  <form class="login-container" [formGroup]="loginForm">
    <ion-list>
      <ion-item>
        <ion-label>学号/工号</ion-label>
        <ion-input type="number" name="userName" [(ngModel)]="user.userName" formControlName="userName" required maxLength="11">
        </ion-input>
      </ion-item>
      <div *ngIf="userName.invalid && (userName.dirty || userName.touched)">
        <ion-item *ngIf="userName.errors.required" class="message">
          账号不能为空
        </ion-item>
        <ion-item *ngIf="userName.errors.maxlength" class="message">
          长度不能超过11位
        </ion-item>
      </div>
      <ion-item>
        <ion-label>密码</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="user.password" formControlName="password" required></ion-input>
      </ion-item>
      <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <ion-item *ngIf="password.errors.required" class="message">
          密码不能为空
        </ion-item>
      </div>
      <ion-item>
        <ion-label>角色</ion-label>
        <ion-select name="role" formControlName="role" [(ngModel)]="user.role">
          <ion-option value="0" selected="true">学生</ion-option>
          <ion-option value="1">教员</ion-option>
          <ion-option value="2">管理员</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <div padding>
      <button ion-button color="primary" block (tap)="login()" [disabled]="!loginForm.valid">登陆</button>
      <button ion-button color="primary" block (tap)="signup()">注册</button>
    </div>
  </form>
  <section class="bottom">
    <span tappable><a>找回密码</a></span>
    <span>|</span>
    <span tappable><a>冻结账号</a></span>
  </section>
</ion-content>
