page-contact {

  ion-content {
    .scroll-content {
      background: #f9f9f9;
    }
    .person-info {
      display: flex;
      height: 70px;
      margin: 20px 0;
      background: #fff;
      padding: 5px 10px;
      >.avatar {
        flex: 0 0 80px;
        text-align: center;
        img {
          border-radius: 50%;
        }
      }
      >.band {
        flex: 1;
        justify-content: center;
        display: flex;
        align-items: center;
        font-size: 1.8rem;
      }
    }
  }
}
