page-will-result {
    .empty{
        text-align: center;
        height: 120px;
        line-height: 120px;
        font-size: 19px;
        color: #dadada;
    }
    .header{
        font-weight: bold;
    }
}
